	.BayPhotoEconomy/
	.Bfs
	.Blog
	.CFUserTextEncoding
	.DS_Store
	.LuminanceHDR/
	.ROESEngineCache/
	.Xauthority
	.Xmodmap
	.adobe/
	.android/
	.bash_history
	.bash_profile
	.bash_profile.pysave
	.bash_sessions/
	.bashrc
	.cabal/
	.cache/
	.config/
	.cups/
	.fontconfig/
	.fzf.bash
	.fzf.zsh
	.fzf/
	.gem/
	.ghc/
	.ghcup/
	.gitconfig
	.gstreamer-0.10/
	.hushlogin
	.idlerc/
	.inkscape-etc/
	.ipfs/
	.ipython/
	.jupyter/
	.jzkytime
	.keras/
	.local/
	.matplotlib/
	.mplayer/
	.nchsoftware/
	.neverball/
	.node_repl_history
	.npm/
	.nvm/
	.oracle_jre_usage/
	.parallels/
	.pdfbox.cache
	.pylint.d/
	.python_history
	.recently-used.xbel
	.rnd
	.roescache/
	.shsh/
	.ssh/
	.swt/
	.thumbnails/
	.vim/
	.viminfo
	.vimrc copy
	.vscode/
	.wbil014rc
	.wbiyeverc
	.wdswlock
	.xbmc/
	.yarnrc
	.zcompdump
	.zprofile
	.zsh_history
	.zshrc
	Applications/
	Calibre Library/
	Creative Cloud Files/
	Desktop/
	Documents/
	Downloads/
	FrostWire/
	Incompatible Software/
	LIFE/
	Library/
	MIDI/
	Main.class
	Main.java
	Mousecape/
	Movies/
	Music/
	Pictures/
	Public/
	PycharmProjects/
	Python Programs/
	Sites/
	get-pip.py
	haskell_algorithms/
	node_modules/
	package-lock.json
	package.json
	py Memoization/
	sysinfoapp/
	xerbox@gmail.com Creative Cloud Files/
	yarn.lock


